@charset "UTF-8";
@namespace xml "http://www.w3.org/XML/1998/namespace";

@font-face {
        font-family: serif;
        src: local("Libertinus Serif");
        font-size: 12pt;
        font-kerning: normal;
    }
    
@page {
    size: 17cm 26cm;
    margin: 1.5cm 1cm 1.5cm 1cm;
/*    margin: 1.5cm 2.5cm 1.5cm 2.5cm;*/
    @footnote {
        border-top: solid black thin;
        padding-top:.5ex;
        margin-top: .5ex;
/*        margin-left: 1.5em;*/
        border-clip: 6em;
    }
    @top-center {
        content: string(term, first);
        font-weight: bold;
        font-family: "Libertinus Sans";
    }
    counter-reset: footnote;
}

@page letter:first {
    @top-center {content: normal;}
    @top-left {content: normal;}
    @top-right {content: normal;}
}

@page:blank {
    @top-center {content: normal;}
    @top-left {content: normal;}
    @top-right {content: normal;}
}

@page:left {
    @top-left {content: counter(page)}
}

@page:right {
    @top-right {content: counter(page)}
}

entry > form[type="lemma"] > orth { string-set: term content() }

div > head { string-set: term content() }

* {
    padding: 0 0 0 0;
    white-space: normal;
    hyphens: auto;
    -prince-footnote-policy: keep-with-line;
  }

ref[target]:empty {background-color:inherit}

note[type="footnote"] { float: footnote; text-indent: 1.8em; vertical-align: baseline; footnote-style-position: inside;}

*::footnote-marker {
    content: counter(footnote, decimal) "\00a0";
    vertical-align: super; 
    font-size: 75%;
}

div[type="letter"] {display:block; break-before: right; page:letter; -prince-page-group: start;}

div[type="letter"] > head { display: block;
                            text-align:center; 
                            font-size:large; 
                            font-weight:bold;
                            margin-bottom:20px;}

div[type='foreword'] {page: letter; -prince-page-group: start; break-before: right; text-align:justify;}
div[type="bibl-1"] {page: letter; -prince-page-group: start; break-before: page; text-align:justify;}

graphic {content: attr("url",url);}
                            
/*body {break-before: right;}*/

/* Override Oxygen-specific features */
entry:has(etym) > *:nth-last-child(3)::after {content: ""} /* only one etymology in print version */
entry:has(etym) > *:nth-last-child(2)::after {content: "."} /* only one etymology in print version */

sense > sense + sense:has(tr:lang(ru))::before {content: ", "}
ref[target][type='xr']:not(empty)::after { content: '';}
/*entry > ref[target][type='xr']:not(empty):last-child::after {content: ".";}*/

*[rendition~="#rend_smallcaps"] {font-variant: small-caps; letter-spacing: normal;}
*[rendition~="#rend_smallcaps"]:lang(ru) {font-variant: normal; text-transform:uppercase; font-size: 70%; letter-spacing: 1px;}
name {font-variant: small-caps; letter-spacing: normal; }
author {font-variant: small-caps; letter-spacing: normal;}

oRef {font-style: italic;}
tr oRef {letter-spacing: normal;}
re > form oRef {font-style: italic; font-weight: normal; letter-spacing: normal}
example > quote oRef {font-style: italic; font-weight:normal; letter-spacing: normal}

titlePage name:lang(ru) {font-variant: normal; letter-spacing: 2px;}

div[type="board"] > p > name:first-of-type {font-variant: normal; letter-spacing: 1px;}
div[type="board"] > p > hi:first-of-type > name {font-variant: normal; letter-spacing: 1px;}

/*titlePage name:lang(ru):first-letter {font-size: 26pt;}*/

listBibl bibl author {letter-spacing: normal; font-variant:normal;}
listBibl bibl author > name {letter-spacing: normal;}
listBibl bibl editor > name {letter-spacing: normal;}
