@charset "UTF-8";
@import "ru_langs.css";
@namespace xml "http://www.w3.org/XML/1998/namespace";

@namespace tei "http://www.tei-c.org/ns/1.0";
@namespace abv "http://ossetic-studies.org/ns/abaevdict";

tei|etym:lang(en) {display: none}
abv|tr:lang(en) {display: none}
tei|def:lang(en) {display: none}
tei|note:lang(en) {display: none}
tei|etym tei|note:lang(en) {display: inline}
tei|biblScope[xml|lang="en"] {display: none}
tei|bibl[xml|lang="en"] {display: none}

tei|sense > tei|sense {display: none}
tei|sense > tei|sense:has(abv|tr:lang(ru)) {display: inline !important;}
tei|sense > tei|sense:has(tei|def:lang(ru)) {display: inline !important;}

tei|q[rendition~="#rend_doublequotes"]::before {content: "„";}
tei|q[rendition~="#rend_doublequotes"]::after {content: "“";}
/* Feature passing down the tree :) -- for verse */
/*q[rendition~="#rend_doublequotes"]:has(lg):before {content: "";}
q[rendition~="#rend_doublequotes"]:has(lg):after {content: "";}
q[rendition~="#rend_doublequotes"] > lg:before {content: "“"}
q[rendition~="#rend_doublequotes"] > lg:after {content: "”"}*/

tei|q > tei|q[rendition~="#rend_doublequotes"]::before {content: "«";}
tei|q > tei|q[rendition~="#rend_doublequotes"]::after {content: "»";}
/*q > q[rendition~="#rend_doublequotes"]:last-child::before {content: "«";}*/
/*q > q[rendition~="#rend_doublequotes"]:last-child::after {content: "»";}*/

*[rendition~="#rend_smallcaps"] {letter-spacing: 3px}
tei|name {letter-spacing: 3px}
tei|emph {letter-spacing: 3px}

abv|example > abv|tr tei|q::before {content: "„";}
abv|example > abv|tr tei|q::after {content: "“";}
abv|example > abv|tr tei|q[rendition~="#rend_singlequotes"]::before {content: "‘";}
abv|example > abv|tr tei|q[rendition~="#rend_singlequotes"]::after {content: "’";}
abv|example > abv|tr > tei|q + tei|q::before {content: ", „"}

/*:lang(os) > lang:empty {content: "ос."}*/
:lang(os) > tei|usg > tei|lang:empty {content: "ос."}
/*:lang(os-x-iron) > lang:empty {content: "и."}*/
:lang(os-x-iron) > tei|usg > tei|lang:empty {content: "и."}
/*:lang(os-x-digor) > lang:empty {content: "д."}*/
:lang(os-x-digor) > tei|usg > tei|lang:empty {content: "д."}
/*:lang(os-x-south) > lang:empty {content: "ю."}*/
:lang(os-x-south) > tei|usg > tei|lang:empty {content: "ю."}
/*:lang(os-x-ksan) > lang:empty {content: "ксан."}*/
:lang(os-x-ksan) > tei|usg > tei|lang:empty {content: "ксан."}

/**[extralang~="os"] > lang:empty {-oxy-append-content: ", ос."}
*[extralang~="os-x-iron"] > lang:empty {-oxy-append-content: ", и."}
*[extralang~="os-x-digor"] > lang:empty {-oxy-append-content: ", д."}
*[extralang~="os-x-south"] > lang:empty {-oxy-append-content: ", ю."}
*[extralang~="os-x-ksan"] > lang:empty {-oxy-append-content: ", ксан."}*/

tei|entry > tei|ref:before {content: " см. ";}
/*entry > usg + ref::before {content: " см. ";}*/

abv|tr tei|oRef {font-style: normal; letter-spacing: 3px}

tei|sense > tei|sense + tei|sense:has(abv|tr:lang(ru)):before {content: ", "}
tei|sense > tei|sense + tei|sense:has(tei|def:lang(ru)):before {content: ", "}

abv|tr tei|ref {letter-spacing: 3px; font-style: inherit}

tei|form[type='plural'] > tei|gram {content: "мн.\00A0ч."}