{% extends 'base.html' %}
{% block title %}О проекте{% endblock %}
{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col-12 col-lg-3">
                <nav id="about" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
                    <div class="overflow-auto">
                        <span class="h5">Лексические ресурсы по осетинскому языку</span>
                    </div>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link active" href="#project">О проекте</a>
                        <a class="nav-link active" href="#reference">Ссылка на проект / Citing the project</a>
                        <a class="nav-link active" href="#support">Кто нас поддерживает</a>
                        <a class="nav-link active" href="#leaders">Научный руководитель проекта</a>
                        <a class="nav-link active" href="#team_Russia">Команда проекта</a>
                    </nav>
                </nav>
            </div>
            <div class="col-12 col-lg-9"
                 style="height: 120vh; overflow-y: scroll; position: relative;"
                 tabindex="0"
                 id="spy_about"
                 data-bs-spy="scroll"
                 data-bs-target="#about"
                 data-bs-offset="200"
            >
                <h4 id="project">О проекте</h4>
                <p>
                    Вы находитесь на сайте проекта сотрудников, аспирантов и студентов <a href="https://iling-ran.ru/web/ru/departments/indo-european/iranian" class="link-primary" target="_blank">сектора иранских языков</a> Института языкознания РАН и <a href="https://tipl.philol.msu.ru" class="link-primary" target="_blank">отделения теоретической и прикладной лингвистики</a> МГУ имени М.В. Ломоносова по созданию электронных лексикографических ресурсов для осетинского языка.
                </p>
                <p>
                    В настоящий момент основной целью нашей работы является создание электронной и двуязычной версии Историко-этимологического словаря осетинского языка В.И. Абаева.
                </p>
                <h4 id="reference">Как ссылаться на онлайн-словарь / Citing the project</h4>
                    <p>
                        <p>Пожалуйста, при ссылке на электронный словарь цитируйте эту статью:<br>Please cite this publication when referring to the project:</p>
                        <div class="card text-dark bg-light mb-3 border-1 btn-outline-dark" data-bs-toggle="tooltip" title="Нажмите, чтобы скопировать / Click to copy">
                            <div type="button" class="card-body" data-clipboard-text="Belyaev, Oleg, Irina Khomchenkova, Julia Sinitsyna, Vadim Dyachkov. Digitizing print dictionaries using TEI: The Abaev Dictionary Project // IWCLUL 2021: The Seventh International Workshop on Computational Linguistics of Uralic Languages. Proceedings of the Workshop. Stroudsburg, USA: Association for Computational Linguistics, 2021. P. 12–19.">
                                Belyaev, Oleg, Irina Khomchenkova, Julia Sinitsyna, Vadim Dyachkov. Digitizing print dictionaries using TEI: The Abaev Dictionary Project // IWCLUL 2021: The Seventh International Workshop on Computational Linguistics of Uralic Languages. Proceedings of the Workshop. Stroudsburg, USA: Association for Computational Linguistics, 2021. P. 12–19.
                            </div>
                        </div>
                    </p>
                <h4 id="support">Кто нас поддерживает</h4>
                <p>
                    Электронная версия словаря и перевод III и IV томов выполнены за счёт гранта Российского научного фонда № 22-28-01639, <a href="https://rscf.ru/project/22-28-01639/">https://rscf.ru/project/22-28-01639/</a>.
                </p>
                <p>
                    Мы выражаем особую благодарность Амирхану Михайловичу Торчинову, который выступил инициатором этого проекта и продолжает оказывать нам неоценимую поддержку при проведении проекта. Мы также благодарны московской осетинской общине за поддержку перевода I–II томов словаря и помощь в печатном издании их английской версии, в особенности Александру Тотоонову, Валерию Дзгоеву, Олегу Пухову, Владиславу Хаблиеву, Руслану Бестолову, Виталию Даурову, Игорю Дзуцеву, Марине Каболовой, Владимиру Туганову, Зоинбеку Абаеву, Виктору Джиоеву, Владимиру Бароеву и Борису Базаеву.
                </p>
                <h4 id="leaders">Научный руководитель проекта</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h6">
                                Олег Игоревич Беляев
                            </p>
                            <span>
                                Кандидат филологических наук, заведующий сектором иранских языков Института языкознания РАН, доцент <abbr data-bs-toggle="tooltip" title="Отделение теоретической и прикладной лингвистики">ОТиПЛ</abbr> МГУ. Специалист по осетинскому языку, нахско-дагестанским языкам, лингвистической типологии и формальному синтаксису, один из разработчиков <a href="http://corpus.ossetic-studies.org/search/index.php?interface_language=ru">Осетинского национального корпуса</a> и других лингвистических баз данных. Руководитель проекта РНФ № 22-28-01639.
                            </span>
                        </li>
                    </ul>
                </p>
                <h5 id="team_Russia">Команда исследовательского проекта</h5>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h6">
                                Ирина Андреевна Хомченкова
                            </p>
                            <span>
                                Аспирантка <abbr data-bs-toggle="tooltip" title="Отделение теоретической и прикладной лингвистики">ОТиПЛ</abbr> МГУ, научный сотрудник Института русского языка им. В.В. Виноградова РАН, младший научный сотрудник сектора иранских языков Института языкознания РАН по гранту РНФ № 22-28-01639. Интересы: грамматика и лексика осетинского языка, морфология и синтаксис уральских языков, типология комитативных конструкций, лексическая типология.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Юлия Вячеславовна Синицына
                            </p>
                            <span>
                                Аспирантка <abbr data-bs-toggle="tooltip" title="Отделение теоретической и прикладной лингвистики">ОТиПЛ</abbr> МГУ, младший научный сотрудник сектора иранских языков Института языкознания РАН по гранту РНФ № 22-28-01639. Интересы: грамматика и лексика осетинского языка, морфология и синтаксис уральских языков, типология сравнительных конструкций, лексическая типология. 
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Вадим Викторович Дьячков
                            </p>
                            <span>
                                Научный сотрудник сектора прикладного языкознания Института языкознания РАН, исполнитель гранта РНФ № 22-28-01639. Интересы: грамматика и лексика осетинского языка, морфология и синтаксис африканских языков, синтаксис прилагательных.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Анна Александровна Бызова
                            </p>
                            <span>
                                Студентка <abbr data-bs-toggle="tooltip" title="Отделение теоретической и прикладной лингвистики">ОТиПЛ</abbr> МГУ. Интересы: грамматика и лексика осетинского языка, синтаксис уральских языков, синтаксис немаркированных зависимых в именной группе.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Артём Олегович Бадеев
                            </p>
                            <span>
                                Студент <abbr data-bs-toggle="tooltip" title="Институт классического Востока и античности">ИКВИА</abbr> НИУ ВШЭ, лаборант-исследователь сектора иранских языков Института языкознания РАН. Интересы: историческая морфология иранских языков.
                            </span>
                        </li>                        
                        <li class="list-group-item">
                            <p class="h6">
                                Юрий Юрьевич Макаров
                            </p>
                            <span>
                                Студент <abbr data-bs-toggle="tooltip" title="Школа лингвистики">ШЛ</abbr> НИУ ВШЭ, лаборант-исследователь сектора типологии Института языкознания РАН. Системный администратор сайта словаря.
                                Интересы: фонетика, фонетическая типология, памирские языки.
                            </span>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <script src="/static/js/clipboard.js-master/dist/clipboard.min.js"></script>
    <script>
        var scrollSpy = new bootstrap.ScrollSpy(spy_about, {
          target: '#about'
        })
        var btns = document.querySelectorAll('div');
        var clipboard = new ClipboardJS(btns);

        clipboard.on('success', function (e) {
            console.log(e);
        });

        clipboard.on('error', function (e) {
            console.log(e);
        });
    </script>
{% endblock %}
