{% extends 'base.html' %}
{% block title %}О проекте{% endblock %}
{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col-12 col-lg-3">
                <nav id="about" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
                    <span class="navbar-brand">Памирские языки</span>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link active" href="#project">О проекте</a>
                        <a class="nav-link active" href="#reference">Ссылка на проект / Citing the project</a>
                        <a class="nav-link active" href="#support">Кто нас поддерживает</a>
                        <a class="nav-link active" href="#leaders">Научные руководители проекта</a>
                        <a class="nav-link active" href="#team_Russia">Команда исследовательского проекта</a>
                        <a class="nav-link" href="#languages">О языках</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#languages-1">Шугнанский</a>
                            <a class="nav-link ms-3 my-1" href="#languages-2">Рушанский</a>
                            <a class="nav-link ms-3 my-1" href="#languages-3">Хуфский</a>
                        </nav>
                        <a class="nav-link" href="#tools">Доступные инструменты</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#tools-1">Онлайн-словарь</a>
                            <a class="nav-link ms-3 my-1" href="#tools-2">Морфологический анализатор</a>
                            <a class="nav-link ms-3 my-1" href="#tools-3">Корпус</a>
                            <a class="nav-link ms-3 my-1" href="#tools-4">Конвертер орфографий</a>
                        </nav>
                        <a class="nav-link" href="#other">Прочее</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#other-1">Разговорник</a>
                            <a class="nav-link ms-3 my-1" href="#other-2">Научно-учебная группа</a>
                            <a class="nav-link ms-3 my-1" href="#other-3">Иранистический семинар</a>
                            <a class="nav-link ms-3 my-1" href="#other-4">Публикации участников проекта</a>
                        </nav>
                    </nav>
                </nav>
            </div>
            <div class="col-12 col-lg-9"
                 style="height: 120vh; overflow-y: scroll; position: relative;"
                 tabindex="0"
                 id="spy_about"
                 data-bs-spy="scroll"
                 data-bs-target="#about"
                 data-bs-offset="200"
            >
                <h4 id="project">О проекте</h4>
                <p>
                    Мы — студенты и сотрудники <a href="https://hum.hse.ru/" class="link-primary" target="_blank">
                    Факультета гуманитарных наук НИУ ВШЭ</a> (г. Москва).
                    Уже несколько лет с помощью коллег из Института гуманитарных наук
                    Национальной академии наук Таджикистана (г. Хорог)
                    мы изучаем памирские языки шугнано-рушанского кластера, в особенности шугнанский.
                    Помимо полевой работы — четырех экспедиций на Памир — мы разрабатываем компьютерные ресурсы,
                    позволяющие исследовать памирские языки, чему и посвящен этот сайт.
                </p>
                <h4 id="reference">Как ссылаться на онлайн-словарь и парсер / Citing the project</h4>
                    <p>
                        <p>Пожалуйста, при ссылке на проект цитируйте эту статью:<br>Please cite this publication when referring to the project:</p>
                        <div class="card text-dark bg-light mb-3 border-1 btn-outline-dark" data-bs-toggle="tooltip" title="Нажмите, чтобы скопировать / Click to copy">
                            <div type="button" class="card-body" data-clipboard-text="Makarov Y., Melenchenko M., Novokshanov D. Digital Resources for the Shughni Language // Proceedings of The Workshop on Resources and Technologies for Indigenous, Endangered and Lesser-resourced Languages in Eurasia within the 13th Language Resources and Evaluation Conference. Marseille, France: European Language Resources Association, 2022. P. 61–64.">
                                Makarov Y., Melenchenko M., Novokshanov D. Digital Resources for the Shughni Language // Proceedings of The Workshop on Resources and Technologies for Indigenous, Endangered and Lesser-resourced Languages in Eurasia within the 13th Language Resources and Evaluation Conference. Marseille, France: European Language Resources Association, 2022. P. 61–64.
                            </div>
                        </div>
                        <p>Примерная ссылка на сайт:</p>
                        <div class="card text-dark bg-light mb-3" data-bs-toggle="tooltip" title="Нажмите, чтобы скопировать">
                            <div class="card-header h6">По-русски:</div>
                            <div type="button" class="card-body" data-clipboard-text="Ю. Ю. Макаров, М. Г. Меленченко. 2021. Сайт «Памирские языки» (pamiri.online),
                                Москва: Школа лингвистики, НИУ Высшая школа экономики (электронный ресурс: https://pamiri.online/).">
                                Ю. Ю. Макаров, М. Г. Меленченко. 2021. Сайт «Памирские языки» (pamiri.online),
                                Москва: Школа лингвистики, НИУ Высшая школа экономики (электронный ресурс: https://pamiri.online/).
                            </div>
                        </div>
                        <p>You can use the following information to refer to the website:</p>
                        <div class="card text-dark bg-light mb-3" data-bs-toggle="tooltip" title="Click to copy">
                            <div class="card-header h6">In English:</div>
                            <div type="button" class="card-body" data-clipboard-text="Y. Makarov, M. Melenchenko. 2021. Pamir Languages (pamiri.online),
                                Moscow: School of Linguistics, HSE University (Available online at URL:: https://pamiri.online/).">
                                Y. Makarov, M. Melenchenko. 2021. Pamir Languages (pamiri.online),
                                Moscow: School of Linguistics, HSE University (Available online at URL: https://pamiri.online/).
                            </div>
                        </div>
                    </p>
                <h4 id="support">Кто нас поддерживает</h4>
                <p>
                    Сайт подготовлен по результатам проектов
                    <a href="https://ling.hse.ru/shughni" class="link-primary" target="_blank">
                        «Компьютерные и лингвистические ресурсы для
                        поддержки шугнанского языка»</a> (2020–2021) и «Компьютерные и корпусные инструменты
                    для иранистических исследований» (2021–2022) при поддержке фонда «Гуманитарные исследования»
                    ФГН НИУ Высшая школа экономики.
                </p>
                <p>
                    Создатели сайта выражают особую благодарность Умеду Каландарову.
                </p>
                <p>
                    Команда проекта благодарит <a href="https://www.akdn.org/ru/%D0%B0%D0%B3%D0%B5%D0%BD%D1%82%D1%81%D1%82%D0%B2%D0%B0/%D1%83%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%82%D0%B5%D1%82-%D1%86%D0%B5%D0%BD%D1%82%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9-%D0%B0%D0%B7%D0%B8%D0%B8">Университет Центральной Азии</a>
                    за помощь в организации полевой работы в городе Хороге.
                </p>
                <h4 id="leaders">Научные руководители проекта</h4>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h6">
                                Елена Евгеньевна Арманд
                            </p>
                            <span>
                                Кандидат филологических наук, доцент <abbr data-bs-toggle="tooltip" title="Институт классического Востока и античности НИУ ВШЭ">ИКВИА</abbr>. Специалист по истории персидского языка,
                                лексике памирских языков.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Екатерина Владимировна Рахилина
                            </p>
                            <span>
                                Доктор филологических наук, профессор, руководитель <abbr data-bs-toggle="tooltip" title="Школа лингвистики НИУ ВШЭ">ШЛ</abbr>.
                                Специалист по теоретической семантике, лексикографии и корпусной лингвистике.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Роман Витальевич Ронько
                            </p>
                            <span>
                                Кандидат филологических наук, доцент <abbr data-bs-toggle="tooltip" title="Школа лингвистики НИУ ВШЭ">ШЛ</abbr>. Специалист по диалектологии,
                                семантике грамматических категорий.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Владимир Александрович Плунгян
                            </p>
                            <span>
                                Доктор филологических наук, профессор Отделения теоретической и прикладной
                                лингвистики МГУ, действительный член РАН, заведующий сектором
                                типологии Института языкознания РАН, заместитель директора по научной работе
                                Института русского языка РАН.
                                Специалист по общей морфологии, теории грамматических категорий и корпусной
                                лингвистике.
                            </span>
                        </li>
                    </ul>
                </p>
                <h5 id="team_Russia">Команда исследовательского проекта</h5>
                <p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="h6">
                                Артём Олегович Бадеев
                            </p>
                            <span>
                                Студент <abbr data-bs-toggle="tooltip" title="Институт классического Востока и античности НИУ ВШЭ">ИКВИА</abbr>. Интересы: грамматика памирских языков.
                            </span>
                        </li>
                        <!--<li class="list-group-item">
                            <p class="h6">
                                Владимир Денисович Бутолин
                            </p>
                            <span>
                                Студент <abbr data-bs-toggle="tooltip" title="Институт классического Востока и античности НИУ ВШЭ">ИКВИА</abbr>. Интересы: грамматика памирских языков.
                            </span>
                        </li>-->
                        <li class="list-group-item">
                            <p class="h6">
                                Валерия Дмитриевна Гребнева
                            </p>
                            <span>
                                Студентка <abbr data-bs-toggle="tooltip" title="Школа лингвистики НИУ ВШЭ">ШЛ</abbr>. Интересы: грамматика памирских языков.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Юрий Юрьевич Макаров
                            </p>
                            <span>
                                Студент <abbr data-bs-toggle="tooltip" title="Школа лингвистики НИУ ВШЭ">ШЛ</abbr>. Разработчик и администратор сайта <em>pamiri.online</em>.
                                Интересы: фонетика памирских языков.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Максим Глебович Меленченко
                            </p>
                            <span>
                                Студент <abbr data-bs-toggle="tooltip" title="Школа лингвистики НИУ ВШЭ">ШЛ</abbr>. Разработчик морфологического анализатора и конвертера орфографий.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Дмитрий Андреевич Новокшанов
                            </p>
                            <span>
                                Студент <abbr data-bs-toggle="tooltip" title="Институт классического Востока и античности НИУ ВШЭ">ИКВИА</abbr>.
                                Разработчик <a href="#tools-3">корпуса шугнанского языка</a> и администратор сайта <em>pamiri.online</em>.
                                Интересы: грамматика памирских языков.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Александр Александрович Сергиенко
                            </p>
                            <span>
                                Студент <abbr data-bs-toggle="tooltip" title="Школа лингвистики НИУ ВШЭ">ШЛ</abbr>. Интересы: грамматика памирских языков.
                            </span>
                        </li>
                        <li class="list-group-item">
                            <p class="h6">
                                Дарья Георгиевна Чистякова
                            </p>
                            <span>
                                Студентка <abbr data-bs-toggle="tooltip" title="Школа лингвистики НИУ ВШЭ">ШЛ</abbr>. Интересы: грамматика памирских языков.
                            </span>
                        </li>
                    </ul>
                </p>
                <h4 id="languages">Языки на сайте</h4>
                <h5 id="languages-1">Шугнанский</h5>
                <p>
                    <a href="https://ru.wikipedia.org/wiki/Шугнанский_язык" target="_blank" class="link-primary">Шугнанский язык</a>
                    принадлежит к восточноиранской группе в рамках индоевропейской языковой семьи.
                    Распространённый на востоке Таджикистана и на северо-востоке Афганистана, он является не просто языком
                    шугнанцев, но и, по мнению
                    <abbr data-bs-toggle="tooltip"
                          title="The Iranian languages ed. G. Windfuhr, London ; New York: Routledge, 2012. p. 788">
                        некоторых
                    </abbr> исследователей, lingua franca памирских народов.
                    По оценке профессора
                    <a href="https://ru.wikipedia.org/wiki/Эдельман,_Джой_Иосифовна"
                       target="_blank"
                       class="link-primary"
                    >
                        Д.&nbsp;И.&nbsp;Эдельман</a>, число носителей шугнанского&nbsp;— около 100&nbsp;000 человек.<br><br>
                    На сайте представлен авторскими статьями и «Шугнанско-русским словарем» Д. Карамшоева.
                </p>
                <h5 id="languages-2">Рушанский</h5>
                <p>
                    На сайте представлен статьями из «Рушанских и хуфских текстов и словаря» В. С. Соколовой.
                </p>
                <h5 id="languages-3">Хуфский</h5>
                <p>
                    На сайте представлен статьями из «Рушанских и хуфских текстов и словаря» В. С. Соколовой.
                </p>
                <h4 id="tools">Разработанные инструменты. Структура сайта</h4>
                <h5 id="tools-1">Онлайн-словарь</h5>
                <p>
                    В разделе <a href="{{ url_for('search') }}" class="link-primary">«Словарь»</a> доступен поиск по
                    оцифрованным словарям, а также авторским словарным статьям, посвященным различным памирским языкам
                    (на данный момент доступен поиск по шугнанской, рушанской и хуфской лексике).<br>
                    Благодаря этому инструменту значительно упрощается ряд лингвистических и филологических задач,
                    связанных с Памирским регионом.
                    Вот лишь некоторые из них:
                    <ul class="list-group">
                        <li class="list-group-item">
                            изучение (в том числе в типологической перспективе) лексики шугнанского языка,
                            а также ряда его диалектов (в словарь включён значительный диалектный материал);
                        </li>
                        <li class="list-group-item">описание морофологии и фонологии шугнанского языка и его диалектов;</li>
                        <li class="list-group-item">расшифровка и глоссирование массива шугнанских текстов;</li>
                        <li class="list-group-item">создание лингвистического корпуса шугнанского языка;</li>
                        <li class="list-group-item">
                            описание памирского фольклора с опорой на богатый иллюстративный материал словаря
                            (пословицы, поговорки и проч.).
                        </li>
                    </ul>
                </p>
                <h5 id="tools-3">Корпус</h5>
                <p>
                    <a href="https://linghub.ru/shughni_corpus/search" target="_blank" class="link-primary">
                        Корпус</a> — это собрание грамматически
                    размеченных текстов с возможностью поиска по грамматическим признакам, морфемам,
                    словам и их сочетаниям, переводам и др.
                    В корпусе шугнанского языка можно найти примеры для исследовательских или образовательных задач.
                    Доступна фильтрация текстов по нескольким категориям, а для устных текстов существует
                    возможность прослушивания записи речи диктора. Корпус создан на базе платформы
                    <em>tsakorpus</em>, разработанной
                    <a class="link-primary"
                       href="https://www.slm.uni-hamburg.de/ifuu/personen/timofey-arkhangelskiy.html" target="_blank">
                        Т. А. Архангельским</a>.
                </p>
                <h4 id="other">Прочее</h4>
                <h5 id="other-1">Русско-англо-шугнанский разговорник</h5>
                <p>
                    В апреле 2021 года издана первая версия русско-шугнанского и англо-шугнанского разговорника
                    (автор — А. Сергиенко).
                    <mark>
                        <a href="https://drive.google.com/file/d/13HiSDtORsdSTUT4BOqSk6BDK53UkOTCx/view?usp=sharing"
                             target="_blank"
                             class="link-primary"
                        >
                            Электронная версия.
                        </a>
                    </mark>
                </p>
                <h5 id="other-2">Научно-учебная группа «Типологические особенности иранских языков»</h5>
                <p>
                    С 2022 года при поддержке программы «Научный фонд Национального исследовательского университета
                    «Высшая школа экономики» (НИУ ВШЭ)» действует научно-учебная группа по изучению иранских языков,
                    в том числе памирских. С результатами деятельности можно ознакомиться
                    <mark>
                        <a href="https://ling.hse.ru/pamir/"
                             target="_blank"
                             class="link-primary"
                        >
                            на сайте НУГ
                        </a>
                    </mark>.
                </p>
                <h5 id="other-3">Иранистический семинар</h5>
                <p>
                    В рамках научно-учебной группы «Типологические особенности иранских языков»
                    функционирует иранистический семинар. Раз в три недели с докладами, посвященными иранским языкам,
                    выступают исследователи из НИУ ВШЭ, а также приглашенные специалисты.<br>
                    Посещение докладов свободно, приглашаются все заинтересованные слушатели.
                    <mark>
                        <a href="https://ling.hse.ru/pamir/seminar"
                             target="_blank"
                             class="link-primary"
                        >
                            Подробнее.
                        </a>
                    </mark>
                </p>
                <h5 id="other-4">Публикации участников проекта</h5>
                <p>
                    Список публикаций <a class="link-primary" target="_blank"
                        href="https://www.researchgate.net/project/Field-and-Corpus-Research-on-the-Languages-of-the-Shughni-Rushani-Group">
                    доступен</a> также и на сайте ResearchGate.<br>
                    <ul class="list-group">
                        <li class="list-group-item">
                            Арманд, Е. Е. & Ш. С. Некушоева. 2022. Глаголы ʽлить(ся)ʼ и ʽсыпать(ся)ʼ в
                            шугнанском языке. Родной язык (1), 73–108.
                        </li>
                        <li class="list-group-item">
                            Бадеев, А. О. 2022. Вариативность в употреблении указательных местоимений в шугнанском языке.
                            ВЕСТНИК РГГУ. Серия «Литературоведение. Языкознание. Культурология». 5, 23–47.
                            https://doi.org/10.28995/2686-7249-2022-5-23-47
                        </li>
                        <li class="list-group-item">
                            Плунгян, В. А. 2022. К изучению шугнанского языка: ретроспектива и перспектива. ВЕСТНИК РГГУ.
                            Серия «Литературоведение. Языкознание. Культурология». 5, 11–22.
                            https://doi.org/10.28995/2686-7249-2022-5-11-22
                        </li>
                        <li class="list-group-item">
                            Рахилина, Е. В., Ш. С. Некушоева & Е. Е. Арманд. 2021. К истории понятий: лингвистический ракурс.
                            Шугнанское ПРЯТАТЬ. Известия Российской академии наук. Серия литературы и языка, 80 (6), 69–78.
                            doi:10.31857/S241377150017814-8.
                        </li>
                        <li class="list-group-item">
                            Ронько, Р. В. 2022. Посессивные конструкции с местоимениями в шугнанском языке.
                            ВЕСТНИК РГГУ. Серия «Литературоведение. Языкознание. Культурология». 5, 48–66.
                            https://doi.org/10.28995/2686-7249-2022-5-48-66
                        </li>
                        <li class="list-group-item">
                            Чистякова, Д. Г. 2022. Синтаксические и семантические свойства клитики i в шугнанском языке.
                            ВЕСТНИК РГГУ. Серия «Литературоведение. Языкознание. Культурология». 5, 67–91.
                            https://doi.org/10.28995/2686-7249-2022-5-67-91
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <script src="/static/js/clipboard.js-master/dist/clipboard.min.js"></script>
    <script>
        var scrollSpy = new bootstrap.ScrollSpy(spy_about, {
          target: '#about'
        })
        var btns = document.querySelectorAll('div');
        var clipboard = new ClipboardJS(btns);

        clipboard.on('success', function (e) {
            console.log(e);
        });

        clipboard.on('error', function (e) {
            console.log(e);
        });
    </script>
{% endblock %}
