{% extends 'base.html' %}
{% block title %}
    {{ Check.main_form(unit_id) }}
{% endblock %}
{% block content %}
    <div class="container mb-2">
        <div class="container mb-2">
            <div class="row align-items-center justify-content-around g-2">
                {% if session.get('user') and status(session.get('user')) >= 1 %}
                    <div class="col-auto">
                        <span>ID: <b>{{ unit_id }}</b></span>
                    </div>
                    <div class="col-auto">
                        <a href="{{ url_for('edit_entry', unit_id=original_unit_id) }}" class="btn btn-sm btn-outline-purple" target="_parent">
                            Формы и значения
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="{{ url_for('examples', unit_id=original_unit_id) }}" class="btn btn-sm btn-outline-purple" target="_parent">
                            Примеры
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="{{ url_for('entry_history', unit_id=original_unit_id) }}" class="btn btn-sm btn-outline-dark" target="_parent">
                            История
                        </a>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#add_task" aria-expanded="false" aria-controls="add_task">
                            Создать задачу
                        </button>
                    </div>
                {% else %}
                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#feedback" aria-expanded="false" aria-controls="feedback">
                            Сообщить об ошибке
                        </button>
                    </div>
                {% endif %}
                <div class="col-auto">
                    <button class="btn btn-sm btn-outline-secondary" onclick="change_ortho()" type="button">
                        Изменить орфографию
                    </button>
                </div>
            </div>
        </div>
        <div class="collapse" id="add_task">
            <div class="container d-flex flex-column align-items-center justify-content-center mb-2">
                <form class="col-10" name="send_task" id="send_task" method="post">
                    <div class="form-floating mb-2">
                        <textarea required class="form-control" placeholder="Что нужно сделать?" id="task" name="task" maxlength="5000"></textarea>
                        <label for="task">Суть задачи</label>
                    </div>
                    <div class="mb-2">
                        <label for="who" class="form-label">Исполнители <em>(последний редактор <b>уже выбран</b>)</em></label>
                        <select class="form-select" aria-label="Выбор исполнителя" name="who" id="who" form="send_task" multiple>
                            <option value="">все редакторы</option>
                            {% for u in Users.query.filter(Users.role_id.in_((2,3))).all() %}
                                <option value="{{ u.user_id }}"{% if u.user_id == editor %} selected{% endif %}>
                                    {{ u.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-floating mb-2">
                        <input id="unit_ids" name="unit_ids" class="form-control"
                                                   value="{{ unit_id }},"
                                                   placeholder="Целевые статьи через запятую" required>
                        <label for="unit_ids">Целевые статьи (ID через запятую)</label>
                    </div>
                    <button class="btn btn-sm btn-success" type="submit" form="send_task">Отправить</button>
                </form>
            </div>
        </div>
        <div class="collapse" id="feedback">
            <div class="container d-flex flex-column align-items-center justify-content-center mb-2">
                <form class="col-10" name="report" id="report" method="post">
                    <div class="form-floating mb-2">
                        <textarea class="form-control overflow-hidden" placeholder="Комментарий" id="task" name="task" maxlength="1500"></textarea>
                        <label for="task">В чём ошибка или недочёт?</label>
                    </div>
                    <button class="btn btn-sm btn-danger" type="submit" form="report">Отправить</button>
                </form>
            </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#main_entry" type="button" role="tab" aria-controls="home" aria-selected="true">Статья</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#full_text" type="button" role="tab" aria-controls="profile" aria-selected="false">Оригинальный текст</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#map" type="button" role="tab" aria-controls="contact" aria-selected="false">Карта</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="main_entry" role="tabpanel" aria-labelledby="main_entry-tab">
                <div class="container row justify-content-between m-2">
                    <div class="col-12 col-xl-3 gy-2 gx-0 gx-lg-2 gy-lg-0 mb-2">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <tbody>
                                    {%- for g in Glosses.query.order_by(Glosses.rank.asc()).with_entities(Glosses.gloss_id) -%}
                                        {% if Glosses.query.get(g[0]).rank %}
                                            {% if Forms.query.filter_by(gloss_id=g[0], unit_id=unit_id).first() %}
                                                <tr>
                                                    <th scope="row">
                                                        <abbr style="font-variant-caps: small-caps"
                                                              data-bs-toggle="tooltip"
                                                              title="{{ Glosses.query.get(g[0]).russian }}">
                                                            {{ Glosses.query.get(g[0]).russian }}
                                                        </abbr>
                                                    </th>
                                                    <td class="col-12 col-md-10">
                                                        <div class="row align-items-center justify-content-start">
                                                            {%- for f in Forms.query.filter_by(gloss_id=g[0], unit_id=unit_id).all() -%}
                                                                <div class="col-12 text-end">
                                                                    <span>{{ Markup(Check.labels(f.form_id, 'f')) }}</span>
                                                                    <span>
                                                                        {{ f.latin }}
                                                                    </span>
                                                                </div>
                                                            {%- endfor -%}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if Unit_comments.query.filter_by(unit_id=unit_id, type=1).first().comment %}
                            <div class="col-12 container p-0">
                                <div class="card border-dark mb-3">
                                    <div class="card-header h6">Семантика</div>
                                    <div class="card-body">
                                        <span class="card-text">
                                            {{ Amend.md(Unit_comments.query.filter_by(unit_id=unit_id, type=1).first().comment) }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if Unit_comments.query.filter_by(unit_id=unit_id, type=4).first().comment %}
                            <div class="col-12 container p-0">
                                <div class="card border-dark mb-3">
                                    <div class="card-header h6">Этимология</div>
                                    <div class="card-body">
                                        <span class="card-text">
                                            {{ Amend.md(Unit_comments.query.filter_by(unit_id=unit_id, type=4).first().comment) }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if Unit_comments.query.filter_by(unit_id=unit_id, type=3).first().comment %}
                            <div class="col-12 container p-0">
                                <div class="card border-warning mb-3">
                                    <div class="card-header h6">Комментарии редакции</div>
                                    <div class="card-body">
                                        <span class="card-text">
                                            {{ Amend.md(Unit_comments.query.filter_by(unit_id=unit_id, type=3).first().comment) }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if Unit_comments.query.filter_by(unit_id=unit_id, type=5).first().comment %}
                            <div class="col-12 container p-0">
                                <div class="card border-warning mb-3">
                                    <div class="card-header h6">Примечания</div>
                                    <div class="card-body">
                                        <span class="card-text">
                                            {{ Amend.md(Unit_comments.query.filter_by(unit_id=unit_id, type=5).first().comment) }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if Amend.see_also(unit_id) %}
                            <div class="col-12 container p-0 mb-2">
                                <span class="h6">См. также</span>
                                <div>{{ Amend.see_also(unit_id) }}</div>
                            </div>
                        {% endif %}
                        {% if Mereological_labels.query.filter_by(unit_id=unit_id).first() %}
                            <div class="col-12 container p-0">
                                <span class="h6">Мереология</span>
                                <div>{{ Check.labels(unit_id, 'mer') }}</div>
                            </div>
                        {% endif %}
                        {% if Taxonomic_labels.query.filter_by(unit_id=unit_id).first() %}
                            <div class="col-12 container p-0 mb-2">
                                <span class="h6">Таксономия</span>
                                <div>{{ Check.labels(unit_id, 'tax') }}</div>
                            </div>
                        {% endif %}
                        {% if Topological_labels.query.filter_by(unit_id=unit_id).first() %}
                            <div class="col-12 container p-0 mb-2">
                                <span class="h6">Топология</span>
                                <div>{{ Check.labels(unit_id, 'top') }}</div>
                            </div>
                        {% endif %}
                        {% if Units.query.get(unit_id).pictures %}
                            <div class="container col-12">
                                <div id="pictures_{{ unit_id }}" class="carousel slide carousel-dark" data-bs-touch="false" data-bs-interval="false">
                                    <div class="carousel-inner">
                                        {% for p in Units.query.get(unit_id).pictures %}
                                            <div class="carousel-item{% if Check.index(p, Units.query.get(unit_id).pictures) == 0 %} active{% endif %}">
                                                <img src="{{ url_for('static', filename='pictures/'+p.picture.route) }}"
                                                     class="d-block w-100"
                                                     alt="Иллюстрация к статье"
                                                     style=".carousel-inner > .item > img, .carousel-inner > .item > a > img {width: 100%;max-height: 500px;max-width: 400px;}"
                                                >
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if Check.len(Units.query.get(unit_id).pictures) > 1 %}
                                        <button class="carousel-control-prev" type="button" data-bs-target="#pictures_{{ unit_id }}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Назад</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#pictures_{{ unit_id }}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Вперёд</span>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if session.get('user') and status(session.get('user')) >= 1 and tasks %}
                            <div class="col-12 container p-0 mb-2">
                                <span class="h6">Задачи с упоминанием статьи</span>
                                <ul class="list-group list-group-flush">
                                    {% for t in tasks %}
                                        <li class="list-group-item px-0">️🗒 <a href="{{ url_for('task', task_id=t) }}"
                                                                                target="_blank"
                                                                                class="link-danger">{{ t }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-xl-9 px-0">
                        <div class="card">
                            <div class="card-header">
                                <div class="row justify-content-around align-items-center">
                                    <div class="col-auto">
                                        <div class="row justify-content-center">
                                            {% if Units.query.get(unit_id).source == 2 %}
                                                <abbr class="col-auto badge bg-info text-dark mx-1"
                                                      data-bs-toggle="tooltip"
                                                      title="Статья взята из словаря Абаева">Абаев</abbr>
                                            {% elif Units.query.get(unit_id).source == 1 %}
                                                <abbr class="col-auto badge bg-info text-dark mx-1"
                                                      data-bs-toggle="tooltip"
                                                      title="Статья составлена редакцией проекта">Авторская</abbr>
                                            {% endif %}
                                            {% for l in Language_assignment.query.filter_by(unit_id=unit_id).all() %}
                                                <abbr class="col-auto badge rounded-pill bg-secondary mx-1">{{ Languages.query.get(l.lang_id).lang_ru }} / {{ Languages.query.get(l.lang_id).lang_en }}</abbr>
                                            {% endfor %}
                                            {% if Units.query.get(unit_id).source != 1 %}
                                                {% if 1 in log_sources %}
                                                    <abbr class="col-auto badge bg-warning text-dark mx-1"
                                                          data-bs-toggle="tooltip"
                                                          title="Редакция проекта внесла правки в эту статью.
                                                          Оригинальная версия доступна в разделе «Оригинальный текст статьи»">
                                                        Изменено редакцией
                                                    </abbr>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if Check.labels(unit_id, 'u') %}
                                        <div class="col-auto">
                                            <span class="h6">{{ Check.labels(unit_id, 'u') }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body">
                                <dl class="row justify-content-between align-items-center mb-0">
                                    {%- if Units.query.get(unit_id).meanings -%}
                                        <dt class="col-12 col-md-3 align-self-start">Значение</dt>
                                        <dd class="col-12 col-md-9">
                                            <ol class="list-group {% if Check.len(Meanings.query.filter_by(unit_id=unit_id).order_by(Meanings.rank.asc()).all()) > 1 %}list-group-numbered"{% endif %}>
                                                {%- for m in Meanings.query.filter_by(unit_id=unit_id).order_by(Meanings.rank.asc()).all() -%}
                                                    <li class="list-group-item border-0 p-0">
                                                        <span class="me-1">
                                                            <abbr class="h6"
                                                                  style="font-variant: small-caps;"
                                                                  data-bs-toggle="tooltip"
                                                                  title="{{ Parts_of_speech.query.get(m.pos_id).pos }}"
                                                            >{{ Parts_of_speech.query.get(m.pos_id).pos_short }}</abbr>
                                                        </span>
                                                        <span class="me-1">
                                                            {% for l in Grammar_labels.query.filter_by(meaning_id=m.meaning_id).all() %}
                                                                <abbr class="h6"
                                                                      style="font-variant: small-caps;"
                                                                      data-bs-toggle="tooltip"
                                                                      title="{{ Label_names.query.get(l.label_id).decode }}"
                                                                >{{ Label_names.query.get(l.label_id).label }}</abbr>
                                                            {% endfor %}
                                                        </span>
                                                        <span>{{ Markup(Check.labels(m.meaning_id, 'm')) }}</span>
                                                        <span>{{ Amend.md(m.meaning, html=True) }}</span>
                                                        <ul>
                                                            {% for e in Examples.query.filter_by(meaning_id=m.meaning_id).all() %}
                                                                <li>
                                                                    <div class="col-12">
                                                                        <span>{{ Markup(Check.labels(e.example_id, 'e')) }}</span>
                                                                        <span><em>{{ e.example }}</em></span><br>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <span>‛{{ e.translation }}’</span>
                                                                    </div>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {%- endfor -%}
                                            </ol>
                                        </dd>
                                    {%- endif -%}
                                    {%- if Units.query.filter_by(parent_id=unit_id).first() -%}
                                        <dt class="col-12 col-md-3 align-self-start">Устойчивые сочетания и идиомы</dt>
                                        <dd class="col-12 col-md-9">
                                            <ul class="list-group">
                                                {%- for u in Units.query.filter_by(parent_id=unit_id).all() -%}
                                                    <div class="row row-cols-1 align-items-center justify-content-start">
                                                        {%- for f in u.forms -%}
                                                            <div class="col">
                                                                <span>{{ Markup(Check.labels(f.form_id, 'f')) }}</span>
                                                                <span>
                                                                    {{ f.latin }}
                                                                </span>
                                                             </div>
                                                        {%- endfor -%}
                                                    </div>
                                                    <ol class="list-group {% if Check.len(Meanings.query.filter_by(unit_id=u.unit_id).order_by(Meanings.rank.asc()).all()) > 1 %}list-group-numbered{% endif %}">
                                                        {%- for m in Meanings.query.filter_by(unit_id=u.unit_id).order_by(Meanings.rank.asc()).all() -%}
                                                            <li class="list-group-item border-0 ps-4 py-0">
                                                                <span class="me-1">
                                                                    <abbr class="h6"
                                                                          style="font-variant: small-caps;"
                                                                          data-bs-toggle="tooltip"
                                                                          title="{{ Parts_of_speech.query.get(m.pos_id).pos }}"
                                                                    >{{ Parts_of_speech.query.get(m.pos_id).pos_short }}</abbr>
                                                                </span>
                                                                <span class="me-1">
                                                                    {% for l in Grammar_labels.query.filter_by(meaning_id=m.meaning_id).all() %}
                                                                        <abbr class="h6"
                                                                              style="font-variant: small-caps;"
                                                                              data-bs-toggle="tooltip"
                                                                              title="{{ Label_names.query.get(l.label_id).decode }}"
                                                                        >{{ Label_names.query.get(l.label_id).label }}</abbr>
                                                                    {% endfor %}
                                                                </span>
                                                                <span>{{ Markup(Check.labels(m.meaning_id, 'm')) }}</span>
                                                                <span>{{ Amend.md(m.meaning, html=True) }}</span>
                                                                <ul>
                                                                    {% for e in Examples.query.filter_by(meaning_id=m.meaning_id).all() %}
                                                                        <li>
                                                                            <div>
                                                                                <span>{{ Markup(Check.labels(e.example_id, 'e')) }}</span>
                                                                                <span><em>{{ e.example }}</em></span><br>
                                                                            </div>
                                                                            <div>
                                                                                <span>‛{{ e.translation }}’</span>
                                                                            </div>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </li>
                                                        {%- endfor -%}
                                                    </ol>
                                                {%- endfor -%}
                                            </ul>
                                        </dd>
                                    {%- endif -%}
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="full_text" role="tabpanel" aria-labelledby="full_text-tab">
                <div class="card card-body m-2">
                    <iframe src='{{ url_for('xml_entry', unit_id=unit_id) }}' style="height: 70vh;" id="full_text_iframe">
                        <b>Ваш браузер устарел и не поддерживает iframe.</b>
                    </iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
                <div class="card card-body m-2">
                    <iframe src='{{ url_for('map_for_entry', unit_id=unit_id) }}' style="height: 70vh;" id="map_iframe">
                        <b>Ваш браузер устарел и не поддерживает iframe.</b>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <script>
        for (var i = 0; i < document.getElementsByTagName('textarea').length; ++i) {
            autosize(document.getElementsByTagName('textarea')[i]);
        }
        $('#full_text_iframe').on('load', function() {
            $(this).contents().find("ref[type='xr']").on("click", function(){
                window.open('{{ url_for('redirect_to_entry', xml_id='fff') }}'.replace('fff', $(this).attr('target').replace('#', '')));
            });
            $(this).contents().find("lang").on("click", function(){
                window.open('{{ url_for('language', lang_id='fff') }}'.replace('fff', $(this).parent().attr('xml:lang')));
            })
        });
    </script>
{% endblock %}