{% extends 'base.html' %}
{% block title %}Орфографии{% endblock %}
{% block content %}
    <div class="container d-flex flex-column">
        <p class="h5 align-self-center">Шугнанские орфографии</p>
        <p>
            Для записи шугнанского языка используются разные варианты письменности.
            Большинство из них основаны на латинице или таджикской кириллице.
        </p>
        <p>
            Наш проект использует специальную латинскую орфографию.
            Для удобного набора на компьютерах можно использовать <a href="{{ url_for('ortho_layout') }}" class="link-primary">специальную раскладку</a>.
        </p>
        <p>
            Ниже дана сравнительная таблица для нескольких орфографий, используемых
            в электронной версии <a href="{{ url_for('search') }}" class="link-primary">словаря</a> Додхудо Карамшоева,
            в учебнике Мукбилшо Аламшоева и в текстах поэта Нодира Шамбезоды.
            <a href="{{ url_for('ortho') }}" class="link-primary">Конвертер орфографий</a> умеет распознавать эти орфографии
            и другие встречающиеся вариации отдельных символов.
            Символам сопоставлены фонемы из Международного фонетического алфавита.
        </p>
        <div class="table-responsive">
            <table class="table table-hover caption-top">
                <caption>Сравнение шугнанских орфографий</caption>
                <thead>
                    <tr>
                        <th><a href="https://ru.wikipedia.org/wiki/Международный_фонетический_алфавит" class="link-primary">МФА</a></th>
                        <th>Проектная</th>
                        <th>Карамшоев</th>
                        <th>Аламшоев</th>
                        <th>Шамбезода</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>a</th>
                        <td>A|a</td>
                        <td>А|а</td>
                        <td>А|а</td>
                        <td>А|а</td>
                    </tr>
                    <tr>
                        <th>aː</th>
                        <td>Ā|ā</td>
                        <td>Ā|ā</td>
                        <td>Ā|ā</td>
                        <td>Аъ|аъ</td>
                    </tr>
                    <tr>
                        <th>e</th>
                        <td>E|e</td>
                        <td>Е|е</td>
                        <td>Е|е</td>
                        <td>Е|е</td>
                    </tr>
                    <tr>
                        <th>ɛ</th>
                        <td>Ê|ê</td>
                        <td>Ê|ê</td>
                        <td>Ê|ê</td>
                        <td>Э|э</td>
                    </tr>
                    <tr>
                        <th>i</th>
                        <td>I|i</td>
                        <td>Ę|ę</td>
                        <td>И|и</td>
                        <td>Еъ|еъ</td>
                    </tr>
                    <tr>
                        <th>ɪ</th>
                        <td>I|i</td>
                        <td>И|и</td>
                        <td>И|и</td>
                        <td>И|и</td>
                    </tr>
                    <tr>
                        <th>i</th>
                        <td>Ī|ī</td>
                        <td>Ӣ|ӣ</td>
                        <td>Ї|ї</td>
                        <td>Ї|ї</td>
                    </tr>
                    <tr>
                        <th>ɔ</th>
                        <td>O|o</td>
                        <td>О|о</td>
                        <td>О|о</td>
                        <td>О|о</td>
                    </tr>
                    <tr>
                        <th>õ</th>
                        <td>U|u</td>
                        <td>Ǫ|ǫ</td>
                        <td>У|у</td>
                        <td>Оъ|оъ</td>
                    </tr>
                    <tr>
                        <th>ʊ</th>
                        <td>U|u</td>
                        <td>У|у</td>
                        <td>У|у</td>
                        <td>У|у</td>
                    </tr>
                    <tr>
                        <th>u</th>
                        <td>Ū|ū</td>
                        <td>Ӯ|ӯ</td>
                        <td>Ў|ў</td>
                        <td>Ў|ў</td>
                    </tr>
                    <tr>
                        <th>ø</th>
                        <td>Ů|ů</td>
                        <td>У̊|у̊</td>
                        <td>У̊|у̊</td>
                        <td>У̊|у̊</td>
                    </tr>
                    <tr>
                        <th>w</th>
                        <td>W|w</td>
                        <td>W|w</td>
                        <td>W|w</td>
                        <td>Въ|въ</td>
                    </tr>
                    <tr>
                        <th>j</th>
                        <td>Y|y</td>
                        <td>Й|й</td>
                        <td>Й|й</td>
                        <td>Й|й</td>
                    </tr>
                    <tr>
                        <th>b</th>
                        <td>B|b</td>
                        <td>Б|б</td>
                        <td>Б|б</td>
                        <td>Б|б</td>
                    </tr>
                    <tr>
                        <th>p</th>
                        <td>P|p</td>
                        <td>П|п</td>
                        <td>П|п</td>
                        <td>П|п</td>
                    </tr>
                    <tr>
                        <th>v</th>
                        <td>V|v</td>
                        <td>В|в</td>
                        <td>В|в</td>
                        <td>В|в</td>
                    </tr>
                    <tr>
                        <th>f</th>
                        <td>F|f</td>
                        <td>Ф|ф</td>
                        <td>Ф|ф</td>
                        <td>Ф|ф</td>
                    </tr>
                    <tr>
                        <th>ɡ</th>
                        <td>G|g</td>
                        <td>Г|г</td>
                        <td>Г|г</td>
                        <td>Г|г</td>
                    </tr>
                    <tr>
                        <th>k</th>
                        <td>K|k</td>
                        <td>К|к</td>
                        <td>К|к</td>
                        <td>К|к</td>
                    </tr>
                    <tr>
                        <th>d</th>
                        <td>D|d</td>
                        <td>Д|д</td>
                        <td>Д|д</td>
                        <td>Д|д</td>
                    </tr>
                    <tr>
                        <th>t</th>
                        <td>T|t</td>
                        <td>Т|т</td>
                        <td>Т|т</td>
                        <td>Т|т</td>
                    </tr>
                    <tr>
                        <th>ð</th>
                        <td>Δ|δ</td>
                        <td>Δ|δ</td>
                        <td>Δ|δ</td>
                        <td>Дъ|дъ</td>
                    </tr>
                    <tr>
                        <th>θ</th>
                        <td>Θ|θ</td>
                        <td>ϴ|θ</td>
                        <td>ϴ|ϑ</td>
                        <td>Тъ|тъ</td>
                    </tr>
                    <tr>
                        <th>s</th>
                        <td>S|s</td>
                        <td>С|с</td>
                        <td>С|с</td>
                        <td>С|с</td>
                    </tr>
                    <tr>
                        <th>z</th>
                        <td>Z|z</td>
                        <td>З|з</td>
                        <td>З|з</td>
                        <td>З|з</td>
                    </tr>
                    <tr>
                        <th>ɣ</th>
                        <td>Ɣ̌|ɣ̌</td>
                        <td>Ɣ̌|ɣ̌</td>
                        <td>Ɣ|ɣ</td>
                        <td>Ѓъ|ѓъ</td>
                    </tr>
                    <tr>
                        <th>x</th>
                        <td>X̌|x̌</td>
                        <td>Х̌|х̌</td>
                        <td>Ẋ|ẋ</td>
                        <td>Хъ|хъ</td>
                    </tr>
                    <tr>
                        <th>q</th>
                        <td>Q|q</td>
                        <td>Қ|қ</td>
                        <td>Ќ|ќ</td>
                        <td>Ќ|ќ</td>
                    </tr>
                    <tr>
                        <th>ʁ</th>
                        <td>Ɣ|ɣ</td>
                        <td>Ғ|ғ</td>
                        <td>Ѓ|ѓ</td>
                        <td>Ѓ|ѓ</td>
                    </tr>
                    <tr>
                    <th>χ</th>
                        <td>X|x</td>
                        <td>Х|х</td>
                        <td>Х|х</td>
                        <td>Х|х</td>
                    </tr>
                    <tr>
                        <th>ʣ</th>
                        <td>Ʒ|ӡ</td>
                        <td>Ȥ|ȥ</td>
                        <td>Ʒ|ӡ</td>
                        <td>Зъ|зъ</td>
                    </tr>
                    <tr>
                        <th>ʦ</th>
                        <td>C|c</td>
                        <td>Ц|ц</td>
                        <td>Ц|ц</td>
                        <td>Ц|ц</td>
                    </tr>
                    <tr>
                        <th>ʤ</th>
                        <td>J̌|ǰ</td>
                        <td>Ҷ|ҷ</td>
                        <td>Љ|љ</td>
                        <td>Љ|љ</td>
                    </tr>
                    <tr>
                        <th>ʧ</th>
                        <td>Č|č</td>
                        <td>Ч|ч</td>
                        <td>Ч|ч</td>
                        <td>Ч|ч</td>
                    </tr>
                    <tr>
                        <th>ʒ</th>
                        <td>Ž|ž</td>
                        <td>Ж|ж</td>
                        <td>Ж|ж</td>
                        <td>Ж|ж</td>
                    </tr>
                    <tr>
                        <th>ʃ</th>
                        <td>Š|š</td>
                        <td>Ш|ш</td>
                        <td>Ш|ш</td>
                        <td>Ш|ш</td>
                    </tr>
                    <tr>
                        <th>h</th>
                        <td>H|h</td>
                        <td>Ӽ|ӽ</td>
                        <td>—</td>
                        <td>Њ|њ</td>
                    </tr>
                    <tr>
                        <th>l</th>
                        <td>L|l</td>
                        <td>Л|л</td>
                        <td>Л|л</td>
                        <td>Л|л</td>
                    </tr>
                    <tr>
                        <th>m</th>
                        <td>M|m</td>
                        <td>М|м</td>
                        <td>М|м</td>
                        <td>М|м</td>
                    </tr>
                    <tr>
                        <th>n</th>
                        <td>N|n</td>
                        <td>Н|н</td>
                        <td>Н|н</td>
                        <td>Н|н</td>
                    </tr>
                    <tr>
                        <th>ɾ</th>
                        <td>R|r</td>
                        <td>Р|р</td>
                        <td>Р|р</td>
                        <td>Р|р</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}