{% extends 'base.html' %}
{% block title %}Раскладка{% endblock %}
{% block content %}
    <div class="container d-flex flex-column">
        <p class="h5 align-self-center">Раскладка для шугнанского языка</p>
        <form class="mb-2 align-self-center align-self-md-end">
            <input type="submit" class="btn btn-primary align-self-center" value="Скачать раскладку для Windows" formaction="{{ url_for('ortho_layout_download') }}">
        </form>
        <p>
            Раскладка предназначена для компьютеров на ОС семейства Windows.
            На ОС Windows 10 раскладка работает, но некорректно отображается в панели задач.
            На устройствах с другими версиями Windows раскладка отображается в панели задач как HS («верхнелужицкий язык»).
        </p>
        <p>
            При скачивании архива откроются две версии раскладки.
            В одной версии для набора дополнительных символов шугнанского алфавита нужно зажимать клавишу <kbd>AltGr</kbd>
            (правый <kbd>Alt</kbd>), в другой — клавишу <kbd>Ctrl</kbd>.
            Раскладок две, потому что пользователям могут быть удобны разные варианты;
            кроме того, клавиша <kbd>AltGr</kbd> есть не на всех устройствах.
        </p>
        <p>
            Чтобы установить нужную раскладку, скачайте архив, распакуйте его, зайдите в распакованную папку и запустите файл <mark>setup.exe</mark>.
            После этого откроется установщик раскладки. По завершении установки остальные файлы можно удалить.
        </p>
        <p>
            Раскладка устроена таким образом, чтобы ей можно было легко начать пользоваться, уже зная латинский алфавит,
            и без проблем переключаться между английским и шугнанским языками.
            За основу взята самая распространённая латинская раскладка QWERTY.
            Кроме символов шугнанского алфавита, в раскладку также добавлены некоторые типографские символы:
            среднее и длинное тире, кавычки и акут (знак ударения).
        </p>
        <figure class="figure">
            <img src="/static/layout_scheme.png" class="figure-img img-fluid rounded" alt="Схема раскладки">
            <figcaption class="figure-caption text-center">Схема раскладки</figcaption>
        </figure>
    </div>
{% endblock %}