{% extends 'base_en.html' %}
{% block title %}Search{% endblock %}
{% block content %}
    <div class="container">
        <div class="container mb-3 alert alert-secondary col-12 col-xl-9">
            <form action="" method="post" id="query">
                <div class="row justify-content-center align-items-center mb-2 g-2">
                    <div class="col-12 row justify-content-center align-items-center mb-2">
                        <div class="col-auto text-center row align-items-center">
                            <div class="col-auto">
                                <label for="languages"><abbr data-bs-toggle="tooltip" title="Several languages can be added by holding Ctrl/Command">Languages</abbr></label>
                            </div>
                            <div class="col-auto">
                                <select class="form-select form-select-sm" id="languages" name="languages" multiple required>
                                    {% for l in Languages.query.all() %}
                                        {% if l.lang_id in [198,199] %}
                                            <option value="{{ l.lang_id }}" {%  if l.lang_id == 199 %}selected{% endif %}>
                                                {{ l.lang_ru }} / {{ l.lang_en }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-auto row justify-content-center align-items-center gx-2 gy-1">
                            <div class="col-auto">
                                <a href="{{ url_for('entries', en='en') }}" class="btn btn-sm btn-primary">All entries</a>
                            </div>
                            <div class="col-auto">
                                <a href="{{ url_for('language', lang_id=199, en='en') }}" class="btn btn-sm btn-primary">Iron entries</a>
                            </div>
                            <div class="col-auto">
                                <a href="{{ url_for('language', lang_id=198, en='en') }}" class="btn btn-sm btn-primary">Digor entries</a>
                            </div>
                            <div class="col-auto">
                                <a href="{{ url_for('languages', en='en') }}" class="btn btn-sm btn-primary">Language index</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 col-md-auto">
                        <label for="query_text" class="form-label">Search</label>
                    </div>
                    <div class="col-10 col-md-auto mt-md-0">
                        <input autofocus required type="text" list="autocomplete" id="query_text" name="query_text" value="{{ query }}" class="form-control" minlength="1" maxlength="30" placeholder="up to 30 characters" tabindex="1" oninput="suggestions();">
                    </div>
                    <div class="col-2 col-md-auto">
                        <label for="query_area" class="form-label col-2 col-md-auto">within</label>
                    </div>
                    <div class="col-10 col-md-auto mt-md-0">
                        <select class="form-select" id="query_area" name="query_area">
                            <option selected value="forms">forms</option>
                            <option value="meaning">senses</option>
                            <option value="example">examples</option>
                            <option value="idioms">idioms and derivates</option>
                            <option value="full_entry">original entry texts</option>
                        </select>
                    </div>
                    <div class="col-2 col-md-auto mt-md-0">
                        <button form="query" type="submit" class="btn btn-primary" formtarget="_parent">Search</button>
                    </div>
                    <div class="col-12 col-md-auto mt-xxl-0">
                        <div class="form-check mb-0">
                            <input checked class="form-check-input" type="checkbox" name="full/sub" id="full/sub">
                            <label class="form-check-label" for="full/sub">
                                Search for <b>complete</b> words
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    <datalist id="autocomplete"></datalist>
    <script src="/static/js/clipboard.js-master/dist/clipboard.min.js"></script>
    <script>
        function print(what) {
            if ($('#query_text').val().length < 30) {
                var $txt = jQuery('#query_text');
                var caretPos = $txt[0].selectionStart;
                var textAreaTxt = $txt.val();
                $txt.val(textAreaTxt.substring(0, caretPos) + what + textAreaTxt.substring(caretPos));
            }
            window.setTimeout(function () {
                    $('#query_text').focus();
                    query_text.setSelectionRange(caretPos + 1, caretPos + 1);
                }, 0);
        }
        var btns = document.querySelectorAll('button');
        var clipboard = new ClipboardJS(btns);

        function amend_area() {
            var text = $('#query_text').val();
            if (text.match(/^[  А-Яа-яЁё,\-–]+$/)) {
                $('#query_area').val('meaning');
            } else {
                $('#query_area').val('forms');
            }
        }

        /*function disable_checkboxes() {
            if (query_area.value == 'meaning' || query_area.value == 'full_entry') {
                diacritics.disabled = true;
                diacritics.checked = false;
            } else {
                diacritics.disabled = false;
            }
        }
         $('#query_text').on('input',amend_area);
        $('#query_text').on('keyup',disable_checkboxes);
        $('#keyboard').on('click',disable_checkboxes); */

        function suggestions() {
            $(`#autocomplete`).empty();
            if ($('#query_text').val().length > 2) {
                var packet = {
                    type: 'search_input',
                    area: $('#query_area').val(),
                    input: $('#query_text').val(),
                    langs: $('#languages').val(),
                    en: 'en'
                };
                fetch('{{ url_for('autocomplete') }}', {
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify(packet),
                    cache: 'no-cache',
                    headers: new Headers({
                        'content-type': 'application/json'
                    })
                })
                .then(function (response) {
                    if (response.status == 200) {
                        response.json().then(function (items) {
                            for (var item of items) {
                                $(`#autocomplete`).append(
                                    `<option value="${item}">`
                                )
                            }
                        })
                    }
                });
            }
        };
    </script>
{% endblock %}
